
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<div class="container py-5">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card rounded-0">
            <div class="card-header bg-success">
              <h3 class="mb-0 text-white">Inicio de sesión</h3>
            </div>
            <div class="card-body">
              <form class="form" role="form" novalidate="" method="POST">
                <div class="form-group">
                  <%= f.label :email %><br />
                  <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                </div>
                <div class="form-group">
                  <%= f.label :password %><br />
                  <%= f.password_field :password, autocomplete: "current-password" %>
                </div>
                <% if devise_mapping.rememberable? -%>
                <div class="form-check">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                </div>
                <% end -%>

                <div class="actions">
                    <%= f.submit 'Entra' ,:class => 'btn btn-success'%>
                    <%= render "devise/shared/links" %>

                  </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
