

<%= form_for @search, html: {class: "pure-form"} do |s|%>
<div class="container py-5">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card rounded-0">
            <div class="card-header bg-success">
              <h3 class="mb-0 text-white">Búsqueda Avanzada</h3>
            </div>
            <div class="card-body">
              <form class="form" role="form" novalidate="" method="POST">
                <div class="form-group">
                  <%= s.label :keywords %> <br />
                  <%= s.text_field :keywords %>
                </div>
                <br>
                <div class="form-group">
                  <%= s.label :category %> <br />
                  <%= s.select :category, options_for_select(@categories), :include_blank => true %>
                </div>
                <br>
                <div class="form-group">
                  <%= s.label :min_price, "Precio Mínimo" %> - <%= s.text_field :min_price, size: 10 %>
                  <%= s.label :max_price, "Precio Máximo" %> - <%= s.text_field :max_price, size: 10 %>
                </div>
                <br>
                <div class="form-group">
                  <%= s.label :isbn, "Cantidad" %> - <%= s.text_field :isbn, size: 10 %>
                </div>
                <br>
                <div class="form-group">
                  <%= s.label :available, "Disponible" %> - <%= s.check_box :available%>
                </div>
                <br>
                <div class="actions"><%= s.submit "Buscar", class: "btn btn-success" %></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <%end %>
