

    <% if @search.search_products.empty? %>

      <p>Sin resultados</p>

    <% else %>

      <% @search.search_products.each do |c| %>
<div class="container py-5">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card rounded-0">
            <div class="card-header bg-success">
              <h3 class="mb-0 text-white">Resultados Búsqueda</h3>
            </div>
            <div class="card-body">
              <form class="form" role="form" novalidate="" method="POST">
                <div class="form-group">
                  <h2><%= c.name %></h2>
                </div>
                <div class="form-group">
                  <label>Precio:</label>
                  <%= c.price %> €
                </div>
                <div class="form-group">
                  <label>Categoría:</label>
                  <%= c.category_id %>
                </div>
                <div class="form-group">
                  <label>Categoría:</label>
                  <%= c.category_id %>
                </div>
                <div class="form-group">
                  <label>Cantidad:</label>
                  <%= c.quantity %>
                </div>
                <div class="form-group">
                  <label>Disponible:</label>
                  <%= c.available %>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
              <% end %>
            <%end %>